/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) { 

    .header__mobile {
        padding: 0 8px;
    }
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hide-on-tablet-mobile {
        display: none;
    }
    
    .header.header__scroll .header__mid {
        position: relative;
        top: 0;
        right: 0;
        padding: 10px 15px;
    }

    .header.header__scroll .header__logo {
        display: block;
    }

    .header.header__scroll .header__logo a {
        font-size: 24px;
    }

    .header__logo {
        text-align: left;
    }

    .header.header__scroll .header__menu-logo {
        display: none;
    }

    .header.header__scroll .header__mobile {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__mid {
        padding: 10px 15px;
    }

    .header__mobile {
        padding: 0 8px;
    }
}



/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header__mid {
        padding: 10px 12px;
    }

    .header__action-menu {
        width: 30px;
    }

    .header__mobile {
        padding: 0 4px;
    }

    .header__action-menu::after {
        display: none;
    }

    .newsletter__area {
        display: block;
    }

    .newsletter__title {
        top: 0;
        margin: 10px 0;
    }

    .newsletter__form {
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .contact__area {
        margin: 10px 0;
    }

    .site__nav {
        width: 320px;
    }

    .site__nav-container {
        padding: 40px 30px 0;
    }
    
    .site__nav-close {
        top: 35px;
        right: 30px;
    }
}
